---
- name: This playbook for Package Management
  hosts: 
    - linux

  pre_tasks:
    - debug: 
        msg: "Start Playbook"

  roles:
    - datadisk-3065
    - profile-3065
    - user-3065
    - webserver-3065

  post_tasks:
    - debug: 
        msg: "Playbook Completed Successfully"


